@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUITv1", sans-serif;
}

html, body {
  /*width: 100%;*/
  /*height: 100%;*/
  /*overflow: hidden;*/
  scroll-behavior: smooth;
  background-color: var(--grayscale-200);
  color: var(--grayscale-1000);
}

:root {
  --grayscale-100: #F7F9FF;
  --grayscale-200: #E0E3ED;
  --grayscale-300: #C8CCDD;
  --grayscale-400: #B6BBCD;
  --grayscale-500: #727685;
  --grayscale-600: #4E515D;
  --grayscale-700: #272931;
  --grayscale-800: #1F2025;
  --grayscale-900: #121316;
  --grayscale-1000: #0B0B0C;
  --primary-brand: #6D87A8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grayscale-100: #0B0B0C;
    --grayscale-200: #121316;
    --grayscale-300: #1F2025;
    --grayscale-400: #272931;
    --grayscale-500: #4E515D;
    --grayscale-600: #727685;
    --grayscale-700: #B6BBCD;
    --grayscale-800: #C8CCDD;
    --grayscale-900: #E0E3ED;
    --grayscale-1000: #F7F9FF;
    --primary-brand: #6D87A8;
  }
}

.text-title {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.text-header1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.text-header2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.text-itemTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.text-itemDescription {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.text-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.text-readable {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.text-token {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.text-hint {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.text-paragraph1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.text-paragraph2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.text-paragraph1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}


@font-face {
  font-family: 'SUITv1';
  font-weight: 200;
  src: url('/fonts/SUITv1-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 300;
  src: url('/fonts/SUITv1-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 400;
  src: url('/fonts/SUITv1-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 500;
  src: url('/fonts/SUITv1-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 600;
  src: url('/fonts/SUITv1-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 700;
  src: url('/fonts/SUITv1-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 800;
  src: url('/fonts/SUITv1-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SUITv1';
  font-weight: 900;
  src: url('/fonts/SUITv1-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'FiraMono';
    font-weight: 400;
    src: url('/fonts/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  src: url('/fonts/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  src: url('/fonts/FiraMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NothingFont';
    font-weight: 600;
    src: url('/fonts/nothing-font-5x7.ttf') format('truetype');
}
